@import url(base_m.css);
@import url("colors_m.css");

/*=========== SELEZIONE TIPO ===========*/

p.choiceAlert {
	margin:  2em 0;
	text-align: center;
}

form.typeSelection {
	margin: 1em 20%;
	text-align: center;
}

form.typeSelection div label {
	display: block;
	color: #2f6a55;
	margin: 0.5em 0;	
}

form.typeSelection ul {
	list-style-type: none;
	padding: 0;
}

form.typeSelection ul li select {
	margin-bottom: 2em;
}

/*=========== FORM INSERIMENTO ===========*/
#formProduct{
	width: 100%;
	margin-left: 0;
	padding: 0;
}

#formProduct fieldset legend{
	text-align: center;
}

/* info generali */ 

fieldset.general_info {
	text-align: left;
	width: 100%;
	margin: 0;
}

fieldset.general_info ul {
	list-style-type: none;
}

fieldset.general_info ul li {
	margin: 0;
	margin-left: 0;
	margin-bottom: 1em;
}

fieldset.general_info ul li label {
	display: block;
	text-align: center;
}

fieldset.general_info ul li.frame_tipologia label,
fieldset.general_info ul li.frame_nome label{
	margin-left: 2em;
}


fieldset.general_info ul li.frame_tipologia,
fieldset.general_info ul li.frame_codice,
fieldset.general_info ul li.frame_nome {
	float: none;
	width: 80%;
	margin-left: -25%;
	padding: 0;
}

fieldset.general_info ul li.frame_tipologia input{
	width: 90%;
}

fieldset.general_info ul li.frame_nome input {
	width: 100%;
	background-size: contain;
}

fieldset.general_info ul li.frame_codice,
fieldset.general_info ul li.frame_nome {
	clear: none; 
}

fieldset.general_info ul li.frame_categoria,
fieldset.general_info ul li.frame_materiale {
	position: relative;
	padding: 0;
	margin: 0 ;
	margin-left: -20%;
	width: 80%;
}

fieldset.general_info ul li.frame_prezzo {
	float: none;
	width: 90%;
	position: relative;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

fieldset.general_info ul li.frame_prezzo input {
	color: white;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
	margin-left: 10%;
	padding: 3em;
	border: 0;
	background: url(../../images/css/price_tag.png) no-repeat center;
	background-size: contain;
}

fieldset.general_info ul li.frame_descrizione {
	clear: none;
	margin: 0;
	margin-top: 1em;
	margin-left: -5%;
}

fieldset.general_info ul li.frame_descrizione label{
	margin-left: -2.5em;
}

fieldset.general_info ul li.frame_descrizione textarea {
	width: 90%;
	padding: 1em 0.5em;
	border: 0;
	border-bottom: 2px solid gray;
	text-align: center;
	background: url(../../images/css/edit.png) no-repeat top left;
}

fieldset.general_info ul li.frame_descrizione textarea:focus {
	border: 1px inset gray;
	border-bottom: 2px solid gray;
}

/* taglie */

fieldset.sizes_info {
	text-align: left;
}

fieldset.sizes_info ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

fieldset.sizes_info ul li {
	display: inline-block;
	padding: 0;
	margin: 1em;
}

fieldset.sizes_info ul li label{
	border-bottom: 2px solid gray;
}

fieldset.sizes_info ul li.checkbox_number {
	margin: 0 0.5em;
}

/* colori */

fieldset.colors_info {
	margin: 0;
	padding: 0;
	text-align: center;
}

fieldset.colors_info ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	padding-left: 5%;
}

fieldset.colors_info ul li {
	width: 20%;
	display: inline-block;
	padding: 1em;
	margin-bottom: 0.5em;
}

fieldset.colors_info ul li label {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
}

fieldset.colors_info ul li input {
	margin: 0;
	padding: 0;
}

span.colorSpan {
	width: 1em;
	height: 1em;
	right: 1em;
	border: 2px solid black;
}

/* immagini */

fieldset.images_info ul {
	padding: 1em 0;
	list-style-type: none;
	text-align: center;
}
	
fieldset.images_info ul li label {
	margin-right: 2%;
	border-bottom: 5px double gray;
}

fieldset.images_info ul li input[type=file] {
	padding: 0.5em;
}

/* ============== SUBMIT BUTTON ========= */

p.submit_p {
	text-align: center;
}

/* ============== FORM ERRORI ============ */

p.perorr_title {
	color: red;
	margin: 1em 35%;
	text-align: center;
	border-bottom: 2px solid gray;
}

ul.perror_list {
	margin: 1em 30%;
	padding: 1em 0;
	padding-top: 0;
	text-align: center;
	list-style-type: none;
	border-bottom: 5px double gray;
}

